/* * * * * * * * * * * * * * * * * * * * * 

Contents

 	Scale
	Tag Resets
	Normalize CSS
	Web Fonts
	Fluid Media
	Page-Specific Styling (Custom Styles)
	Media Queries for screen less than 70em (or 1120px)
	Media Queries for screen less than 60em (or 960px)
	Media Queries for screen less than 48em (or 768px)
	Media Queries for screen less than 30em (or 480px)
	Media Queries for screen less than 22em (or 360px)

* * * * * * * * * * * * * * * * * * * * */

/* * * * * * * * * * * * * * * * * * * * * 
 	Scale

font-size: 17px target / 16px default = 1.063em
line-height: 20px target / 16px font = 1.25em
line-height: 24px target / 16px font = 1.5em

Scale: 1.063 x 1.25 = 1.32875, round to 1.3 

3/4 scale = 0.975
1/2 scale = 0.65
1/4 scale = 0.325

* * * * * * * * * * * * * * * * * * * * *

/* * * * * * * * * * * * * * * * * * * * * 

	Tag Resets

* * * * * * * * * * * * * * * * * * * * */


body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}


/* * * * * * * * * * * * * * * * * * * * * 

	Normalize CSS
	http://necolas.github.com/normalize.css/

* * * * * * * * * * * * * * * * * * * * */


html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
	font-size: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 65%;
	line-height: 0;
	vertical-align: super;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------------------------------

    IE 8 and below, legacy browser style fixes

----------------------------------------- */

/* Figures/Images */

.ie figure {
	width: 100%;
	box-sizing: border-box;
}

/* "*" hack applies only to IE7 and below */

.ie figure {
	*width: auto;
}
   
/* Navigation */

/* Always show nav, IE7 and below */

.ie #nav nav {
	*height: auto;
	*overflow: visible;  
}

/* Always show nav, IE7 and below */

.ie #nav nav {
	*height: auto;
	*overflow: visible;  
}

/* Hide navicon, IE7 and below */

.ie #nav label { 	
	*background: none;
}
 
/* * * * * * * * * * * * * * * * * * * * * 

	Web Fonts

* * * * * * * * * * * * * * * * * * * * */


@font-face {
	font-family:Allura;
	src: url('../fonts/allura-regular-webfont.eot');
	src: url('../fonts/allura-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/allura-regular-webfont.woff') format('woff'),
	     url('../fonts/allura-regular-webfont.ttf') format('truetype'),
	     url('../fonts/allura-regular-webfont.svg#allura-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* * * * * * * * * * * * * * * * * * * * * 

	Fluid Media

* * * * * * * * * * * * * * * * * * * * */


figure {
	position: relative;
}

figure img,
figure object,
figure embed,
figure video {
	display: block;
	max-width: 100%; 
}

/* 
interpolation-mode
http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
 */

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}


/* * * * * * * * * * * * * * * * * * * * * 

	Page-Specific Styling (Custom Styles)

* * * * * * * * * * * * * * * * * * * * */

html {
	font-size: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.975em;
	line-height: 1.3;
	font-weight: normal;
}

h2 {
	font-size: 1.65em;
	line-height: 1.65;
	margin-bottom: .325em;
	font-weight: normal;
}

h3,h4 {
	line-height: 1.65;
	margin: .65em 0;
	font-weight:500;
}

body {
	font-family:Palatino;
	background: #e6eff0;
	/*background: #E6EFF0;*/
	line-height: 1.5em;
}

body p {
	margin-bottom: .65em;
}

p ~ ul {
	/*list-style-type: none;*/
	padding-left:40px;
	margin-bottom: .65em;
}

blockquote {
	padding-left: 20px;
	font-style: italic;
	margin-bottom: .65em;
}

header {
	background: rgb(10,203,189) url("../img/NewBrightonGT5.jpg") top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
}

#secondary-header {
	background: rgb(10,203,189) url("../img/NewBrightonGT6.jpg") top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
}

header h1 {
	font-family:Allura;
	color:darkblue;
	text-shadow:1px 2px 3px #fff;
	font-size: 5em;
	font-weight: 500;
	padding:8% 0 15% 15%;
	line-height: 1;
}

#secondary-header h1 {
	padding:5% 8%;
}


nav ul {
	width: 100%;
	/*padding-left:5%;*/
	position:relative;
	list-style-type: none;
	display:inline-block;
	background: #0064a0;
	/*background: rgb(0,100,160);*/
	/*border:1px solid red;*/
}

	nav ul li {
		font-family: sans-serif;
		float:left;
		position:relative;
		/*display:inline;*/
		/*border:1px solid red;*/
	}

		nav ul li:hover {
			background:#3383B3;
			/*background:#6496b9;*/
			/* which is the same as: */
			/*background: rgb(100,150,185);*/
		}

		nav ul li a {
			display:block;
			text-decoration: none;
			color:white;
			font-weight:300;
			padding: .975em 1.325em;
			/*padding: .975em 1.325em;*/
		}

nav ul ul {
	width:auto;
	white-space: nowrap;
	padding:0;
	display: none;
	position:absolute;
	top:100%;
}

	nav ul ul li {
		float:none;
		/*position:relative;*/
	}

	nav ul li:hover > ul {
		display: block;
		z-index: 1;
	}

nav a {
/*	display:inline-block;
	text-decoration: none;
	color:white;
	font-weight:300;
	padding: .975em 1.325em;
*/	/*border:1px solid white;*/
}

#announcement {
	color:#222;
	background: #44f2bb;
	/*position:absolute;*/
	display:block;
	padding:1em;
	line-height: 1.3;
	margin-top:-8px;
}

#announcement hr {
	border-color:#bbb;
}



/* Fluid Columns, Fixed Gutters */

	.wrapper {
	    padding:1.5em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

/* 
Float Clearing 
http://nicolasgallagher.com/micro-clearfix-hack 
*/

	.group:after {
	    content: " "; 
	    display: table; 
	    clear: both;
	}

	.group {
    	*zoom: 1; 
   }


#main {
	width:68%;
	display:inline-block;
	vertical-align: top;
	color:#222;
}

#sidebar {
	width:28%;
	display:inline-block;
	vertical-align: top;
}

#joinEmailList ul {
	list-style-type:none;
}

.insetR {
	float:right;
	margin:0 0 .325em 1em;
}

.insetL {
	float:left;
	margin:0 1em .325em 0;	
}

.insetR,
.insetL {
	background:#f0f0f0;
	border:1px solid lightgray;
	padding:1em;
}

.insetR img,
.insetL img {
	display: inline-block;
}

.inset2{
	background:#f0f0f0;
	display:inline-block;
	border:1px solid lightgray;
	padding:1em;
	margin-bottom:.325em;
	width:95%;
}

.inset2 img {
	margin:0 auto;
}

#barsChart {
	background:#d0d0d0;
}

.edit_this {
	color:red;
}

.longquote {
	background:#E4FFDA;
	border:1px solid gray;
	border-radius:3px;
	padding:1em;
	margin:0 0 .325em 1em;
}

.error {
	color:red;
}

.message {
	color:#19B719;
	font-weight: bold;
}

/* Form Basic Layout */

form {
    padding: 0;
}
    
form ul {
    list-style: none;
    /*padding: 1em 0 0;*/
}

form li {
    padding: 0 0 .325em;
}

legend {
	font-size: 1em; 
	line-height: 1.223;
}

label {
   display: block;
	font-size: 1em;
	line-height: 1.56;
   padding: 0 0 .325em;
	color: #444;
}

legend {      
	font-weight: 300;
	color: #444;
	text-shadow: 0 1px 2px #777;

}

input,
textarea {
   display: block;
   width: 100%;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.1;
	font-weight: 500;
   padding: .325em;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   /*border-radius:0.3em;*/
}

/*
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
   padding-bottom: 10%;
   overflow: auto; /* 1 */
   vertical-align: top; /* 2 */
}

.send {
   display: inline-block;
   font-size: 1em;
   line-height: 1;
   font-weight: 500;
   color: #fff;
   text-decoration: none;
	background: rgb(0,100,160);
   margin: .65em 0;
   padding: .65em;
   border: 0;
   border-radius: 0.3em;
   text-shadow: 0 -1px 1px rgba(0, 0, 0, .65);
}
    
.send:hover {
	background: rgb(100,150,185);
}
    
.send:active,
.send:focus {
   background: #555;
}

/* End form layout */

footer {
	background:#0064a0;
	padding:3em 2em;
	margin-top:2em;
	color:#dfdfdf;
	font-family:sans-serif;
	font-size:.65em;
	font-weight:200;
}

/* Styles for admin view of email subscriber list */

td {
	padding:3px 6px;
	border:1px solid gray;
}



/* * * * * * * * * * * * * * * * * * * * * 

	Media Queries for screen less than 70em (or 1120px)

* * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 70em){

	body {
	   font-size: 107.692307692308%;
	}

	header h1 {
		font-size: 4em;
		padding:6% 0 15% 10%;
	}

}

/* * * * * * * * * * * * * * * * * * * * * 

	Media Queries for screen less than 60em (or 960px)

* * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 60em){

	header h1 {
		font-size: 3.5em;
		padding:7% 10% 10% 7%;
		text-align: center;
		text-shadow:1px 1px 2px #fff;
	}

	#main {
		width:100%;
	}

	#sidebar {
		width:100%;
	}

}

/* * * * * * * * * * * * * * * * * * * * * 

	Media Queries for screen less than 48em (or 768px)

* * * * * * * * * * * * * * * * * * * * */


@media screen and (max-width: 48em){

	body {
	   font-size: 107.692307692308%;
	}

	header h1 {
		font-size:3em;
		padding:8% 3% 8% 10%;
	}

	#headshot {
		width:35%;
	}
}

/* * * * * * * * * * * * * * * * * * * * * 

	Media Queries for screen less than 30em (or 480px)

* * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 30em){

	header h1 {
		font-size: 2.7em;
	}

	#secondary-header h1 {
		font-size: 2em;
	}

	nav ul li a {
		padding: .4em 1em;
	}

	nav ul li:hover > ul {
		left:auto;
		right:0;
		text-align: right;
	}

	/* optimally we'd serve up 400px-wide images at this point */


}

/* * * * * * * * * * * * * * * * * * * * * 

	Media Queries for screen less than 22em (or 360px)

* * * * * * * * * * * * * * * * * * * * */

@media screen and (max-width: 20em){

	nav ul li:hover > ul {
		left:0;
		right:auto;
		text-align: left;
	}

}